*
{
    list-style: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: rgb(116 150 1);
}

.container
{
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title
{
   color: white;
   font-size: xx-large;
   font-weight: bold;
   width: 100%;
   height: 50px;
   border: 1px solid red;
   margin: 10px;
   text-align: center;
   
}

.pages
{
    display: flex;
    width: 25%;
    height: 80vh;
    overflow-x: auto;
    scrollbar-width: none;
    /* box-shadow: 0px 3px 20px 0px #000000; */
   

}

.pages img
{
    width:98%;
    border: 1px solid;
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
   

}

.msg {
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.494);
    margin: 0px;
    padding: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media screen and (max-width:1200px) {
    .pages
    {
        margin-top: 3%;
        overflow-x: auto;
        width: 32%;
        height: 80vh;
    }

}

@media screen and (max-width:1000px) {
    .pages
    {
        margin-top: 3%;
        overflow-x: auto;
        width: 45%;
        height: 80vh;
    }

}

@media screen and (max-width:700px) {
    .pages
    {
        margin-top: 10%;
        overflow-x: auto;
        width: 95%;
        height: 80vh;
        padding: 4px;
    }

}