@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Poppins:wght@300;600&display=swap');

*
{
    list-style: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body
{
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    font-family: 'Poppins', sans-serif;
}


.hero
{
    max-width: 550px;
    height: 100vh;
    border: 1px solid rgba(255, 255, 255, 0.437);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.salwaat{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 10px;
    position: relative;
    top: -10%;
    color: #ffd700;
    font-size: xx-large;
    font-family: 'Amiri', serif;
}

.home_btns
{
    width: 200px;
    height: 50px;
    margin: 10px;
    border: none;
    outline: none;
    background: #ffd700;
    color: #1e3c72;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.home_btns:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}


.container
{
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title
{
   color: white;
   font-size: xx-large;
   font-weight: bold;
   width: 100%;
   height: 50px;
   border: 1px solid red;
   margin: 10px;
   text-align: center;
   
}

.pages
{
    display: flex;
    width: 25%;
    height: 80vh;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

}

.pages img
{
    width:98%;
    border: 1px solid;
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
    scroll-snap-align: center;
    flex-shrink: 0;

}

.msg {
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.494);
    margin: 0px;
    padding: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .audio
      {
        display: flex;
        max-width: 550px;
        margin-top: 4%;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid black;
        height: 80vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
       

      }

      .audio img
      {
        width: 80%;
        height: 80%;
        margin-top: 10%;
      }

      .items
      {
        background-color: rgba(0, 0, 0, 0.532);
        padding: 20px;
        margin: 60px;
        border-radius: 20px;
        width: 90%;
        margin-top: 5%;
      }

      .listen_text
      {
            color:white;
            font-size: 50px;
            position: relative;
            top: -30px;
      }

        audio {
            width: 95%;
        }

audio::-webkit-media-controls-enclosure {
    background-color: rgba(47, 177, 108, 0.737);
}

.back
{
    width: 100px;
    height: 50px !important;
    background: #ffd700;
    color: #1e3c72;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.back:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}



@media screen and (max-width:1200px) {
    .pages
    {
        margin-top: 3%;
        overflow-x: auto;
        width: 32%;
        height: 80vh;
    }

}

@media screen and (max-width:1000px) {
    .pages
    {
        margin-top: 3%;
        overflow-x: auto;
        width: 45%;
        height: 80vh;
    }

}

@media screen and (max-width:700px) {
    .pages
    {
        margin-top: 10%;
        overflow-x: auto;
        width: 95%;
        height: 70vh;
        padding: 4px;
    }

     .audio img
      {
        width: 100%;
        height: 80%;
        margin-top: 10%;
      }

    .back {
        width: 120px;
        height: 55px !important;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

}
